/* Import fonts. */
@import url('/Lab_5/fonts/Montserrat-Regular.ttf');

/* Universal CSS elements. */
* {
    font-family: 'Montserrat Regular', sans-serif
}

/* Overridden native CSS elements. */
body :not(.box) {
    margin-left: 0.1cm;
    margin-right: 0.1cm;
    position: relative !important
}

h3 {
    font-weight: normal;
    color: #808080;
    margin-top: -14px
}

h3::after {
    /* TODO: FIX THIS Horizontal line bullshit. */
    /* A thin horizontal line. */
    content: "";
    display: block !important;
    border-bottom: 1px solid #c3c3c3 !important;
    width: 100% !important;
    margin-top: 0.1cm
}

/* CSS class functions. */
.box {
    border: 1px solid #000 !important
}

.horzOval {
    width: 97px;
    height: 45.9px;
    border: 1px solid #000 !important;
    border-radius: 50%;
    display: flex !important;
    position: absolute !important;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    font-size: 9pt !important;
    margin-top: -40px;
    left: 0.08cm
}

.dot {
    height: 23px;
    width: 23px;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    margin-inline: 1.4px !important;
    left: 82%;
    bottom: 48px
}

.dot:last-child {
    border-color: #00ffff !important
}

.pageName {
    left: 3cm;
    bottom: 0.9cm
}

/* CSS id functions. */
#buttons_1>button,
#buttons_2>button {
    color: #000;
    display: block !important;
    border: 0px
}

#buttons_1>:first-child,
#buttons_2>:first-child {
    display: inline-block !important;
    border: 1px solid #008cff
}

#buttons_1>button:first-child,
#buttons_2>button:first-child {
    width: 2.31cm !important
}

#buttons_1>button:first-child,
#buttons_2>button:last-child {
    background-color: #008cff !important
}

#buttons_1>button:last-child,
#buttons_2>button:first-child {
    background-color: #fff !important
}

#buttons_1>:last-child {
    border: 1px solid #000
}

#buttons_2>:last-child {
    border: 1px solid #008cff
}

#form {
    margin-top: 1cm;
    margin-left: 27%;
    width: 300px;
    padding: 15px
}

#form>label {
    display: block;
    margin-bottom: 5px
}

#form>input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c3c3c3
}

#form>button[type="submit"] {
    background-color: #04aa6d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer
}

#paragraph,
#bottom {
    font-size: small
}

#bottom {
    color: #808080;
    text-align: center
}
