/* Import fonts. */
@import url('/Lab_5/fonts/Montserrat-Regular.ttf');

/* Universal CSS elements. */
* {
    font-family: 'Montserrat Regular', sans-serif
}

/* Overridden native CSS elements. */
body :not(.box) {
    margin-left: 0.1cm;
    margin-right: 0.1cm;
    position: relative !important
}

h3 {
    font-weight: normal;
    color: #808080;
    margin-top: -14px
}

h3::after {
    /* TODO: FIX THIS Horizontal line bullshit. */
    /* A thin horizontal line. */
    content: "";
    display: block !important;
    border-bottom: 1px solid #c3c3c3 !important;
    width: 102.2% !important;
    margin-left: -1.2% !important;
    margin-top: 0.1cm;
}

button {
    border-radius: 0% !important;
}

/* CSS class functions. */
.box {
    border: 1px solid #000 !important
}

.horiz-oval {
    width: 97px;
    height: 45.9px;
    border: 1px solid #000 !important;
    border-radius: 50%;
    display: flex !important;
    position: absolute !important;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    font-size: 9pt !important;
    margin-top: -40px;
    left: 0.08cm
}

.dot {
    height: 23px;
    width: 23px;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    margin-inline: 1.4px !important;
    left: 82%;
    bottom: 48px
}

.dot:last-child {
    border-color: #00ffff !important
}

.page-name {
    left: 3cm;
    bottom: 0.9cm
}

/* CSS id functions. */
#buttons {}

#bottom {
    color: #808080;
    text-align: center;
}
