/* Universal CSS elements. */
@import url('/Lab_5/fonts/Montserrat-Regular.ttf');

* {
    font-family: 'Montserrat', sans-serif
}

/* Overridden native CSS functions. */
body :not(.box) {
    margin-left: 0.1cm
}

h3::after {
    content: "";
    display: block;
    border-bottom: 1px solid #c3c3c3;
    width: 101%;
    margin-left: -0.2cm
}

/* CSS class functions. */
.heading {
    font-weight: normal;
    margin-top: 0.5px
}

.box {
    border: 1px solid black
}

/* CSS id functions. */
