/* Insert code here later... */
.grid-container {
    display: flex;
    background-color: lightblue;
    grid-template-columns: 400px 400px;
    justify-content: center;
    padding: 10px;
    gap: 10px
}

.grid-item {
    background-color: gray;
    border: 10px solid lightblue;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    height: 50px;
    flex: 1px
}
