/* Import fonts. */
@import url('/Lab_3/fonts/Montserrat-Regular.ttf');
@import url('/Lab_3/fonts/LiberationSerif-Regular.ttf');

/* Page styling. */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    padding: 25px;
    width: 600px;
    margin: 0auto;
    background-color: #1a1c23;
    color: #e4e4e4f8
}

/* Header styling. */
h1 {
    color: #bababa;
    font-family: 'Liberation Serif', serif !important;
    font-weight: 900px;
    line-height: 80px
}

h2 {
    font-family: 'Liberation Serif', serif !important
}

h3 {
    font-family: 'Liberation Serif', serif !important;
    font-weight: lighter;
    font-style: italic;
    text-decoration: underline;
    color: #1577ff !important
}

/* Body styling. */
.story>p {
    font-size: medium !important
}

p {
    font-size: small
}

ul {
    font-size: small
}

.locations>section>p {
    font-size: 10.6pt !important
}

footer>img {
    border-radius: 1.31%;
    width: 150px !important
}

footer>p {
    font-size: 8.7pt !important
}
